.branding{
    font-size: 17px;
    color: white;
}

.showcase {
    position: relative;
    color: black;
    height: 460px;
    padding: 140px 100px;
}

.showcase::after {
    content: "";
    background: url('../img/pru1.jpeg') no-repeat center center;
    background-size: cover;
    opacity: 0.5; /* Adjust opacity to fade the image */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; /* Place it behind the content */
}

.showcase2{
    background:url('../img/waves2.jpg') no-repeat;
    background-position: center;
    background-size: 100%;
    height: 300px;
    padding:140px 100px;
    color:black;
}

.centered-button {
    text-align: center;
}

.big-text-button {
    font-size: 20px;
}

.showcase h1{
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    color: black;
}


.showcase hr{
    width:100px;
    margin:auto;
    border-width: 3px;
    border-color: black;
}

.showcase p{
    font-size: 16px;
    padding-bottom: 20px;
}

section{
    padding: 40px 0;
}
section h2{
    padding: 0;
    margin: 0;
}

section .fa{
    font-size:50px;
}

section img{
    width: 100%;
}

@media only screen and (max-width:600px){
    body{
        margin-top:190px;
    }

    .showcase{
        height: 400px;
        padding: 60px 0;
    }
}








.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

/* Style for each grid item */
.grid-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

/* Style the image */
.grid-item img {
    width: 100%;
    height: auto;
}

/* Style for the title */
.grid-item h2 {
    font-size: 1.5rem;
    margin: 16px;
}

/* Style for the description */
.grid-item p {
    font-size: 1rem;
    margin: 0 16px 16px 16px;
    color: #666;
}

/* Style for the Read More link */
.grid-item .read-more {
    display: inline-block;
    margin: 16px;
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

.grid-item .read-more:hover {
    text-decoration: underline;
}

/* Hover effect for the grid item */
.grid-item:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.we-center {
    text-align: center;
}

.centered-image {
    display: block;
    margin: 0 auto;
    width: 100%; /* Adjust the width to make the image smaller */
    max-width: 1000px; /* Optional: set a maximum width */
}